<!DOCTYPE html>
<html lang="cat"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layouts/main">
<head>
    <title>Login</title>
    <style type="text/css">
        body {
            background-color: #DADADA;
        }
        body > .grid {
            height: 100%;
        }
        .image {
            margin-top: -100px;
        }
        .column {
            max-width: 450px;
        }

    </style>

    <script>
        $(document).ready (function () {
            $('.message .close')
                .on('click', function() {
                    $(this)
                        .closest('.message')
                        .transition('fade')
                    ;
                });
        });
    </script>
</head>
<body>
<div layout:fragment="content">
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui olive image header">
                <img src="https://png.icons8.com/metro/1600/shop.png" width="128" height="128" class="image">
                <div class="content">
                    Login
                </div>
            </h2>

            <div th:class="${message.className}" th:if="${message}">
                <i class="close icon"></i>
                <div class="header" th:text="${message.header}">

                </div>
                <p th:text="${message.message}"></p>
            </div>

            <form th:action="@{/login}" method="post" class="ui large form">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <button class="ui fluid large olive submit button" type="submit">Login</button>


                </div>
                <div th:if="${param.error}" class="ui error message">
                    Invàlid nom usuari/contrasenya.
                </div>
                <div th:if="${param.logout}" class="ui success message">
                    Has sortit de la sessió
                </div>
            </form>

            <div class="ui message">
                Usuari nou? <a th:href="|/register|">Registret</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>