<!DOCTYPE html>
<html lang="cat"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layouts/main">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <style type="text/css">
        body {
            background-color: #DADADA;
        }
        body > .grid {
            height: 100%;
        }
        .image {
            margin-top: -100px;
        }
        .column {
            max-width: 450px;
        }
    </style>
    <script>
        $(document).ready (function () {
            $('.message .close')
                .on('click', function() {
                    $(this)
                        .closest('.message')
                        .transition('fade')
                    ;
                });
        });
    </script>
</head>
<body>
    <div layout:fragment="content">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <div th:class="${message.className}" th:if="${message}">
                    <i class="close icon"></i>
                    <div class="header" th:text="${message.header}">

                    </div>
                    <p th:text="${message.message}"></p>
                </div>

                <form th:action="@{/register}" th:object="${user}" method="post" class="ui large form">
                    <div th:if="${#fields.hasAnyErrors()}" class="ui error message">
                        <p th:each="err : ${#fields.allErrors()}" th:text="${err}">...</p>
                    </div>
                    <div class="ui stacked segment">
                        <div class="field">
                            <div class="ui left icon input"
                                 th:classappend="${#fields.hasErrors('email')} ? error : '' ">
                                <i class="user icon"></i>
                                <input type="text" name="email" th:field="*{email}"
                                       placeholder="Email">

                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input"
                                 th:classappend="${#fields.hasErrors('password')} ? error : '' ">
                                <i class="lock icon"></i>
                                <input type="password" th:field="*{password}"
                                       name="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="address card icon"></i>
                                <input type="text" th:field="*{name}" name="password" placeholder="Nom">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="address card icon"></i>
                                <input type="text" th:field="*{lastname}" name="password" placeholder="Cognom">
                            </div>
                        </div>
                        <button class="ui fluid large olive submit button" type="submit">Registrar-se</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>