<!DOCTYPE html>
<html lang="cat"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.springframework.org/security/tags"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="/webjars/semantic/2.2.13/dist/semantic.css" rel="stylesheet"/>
    <link th:href="@{/css/custom_styles.css}" href="/../resources/static/css/custom_styles.css" rel="stylesheet"/>
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js" type="text/javascript"></script>
    <script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/webjars/datatables/1.10.16/media/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="/webjars/datatables/1.10.16/media/js/dataTables.semanticui.js" type="text/javascript"></script>
    <link href="/webjars/datatables/1.10.16/media/css/dataTables.semanticui.css"/>
    <script src="/webjars/semantic/2.2.13/dist/semantic.js" type="text/javascript"></script>
    <style>
        .ui.menu .item img.logo {
            margin-right: 1.5rem;
        }
        .main.container {
            margin-top: 7rem;
        }
    </style>
</head>
<body>

<div class="ui grey fixed inverted menu">
    <div class="ui container">
        <a href="/" class="header item">
            <img class="logo" src="https://png.icons8.com/metro/1600/shop.png">
            Tenda
        </a>

        <div class="right menu">
            <a th:href="|/shopping/cart|" class="right item" sec:authorize="isAuthenticated()">
                <span style="color:black"><i class="shopping cart icon"></i></span>
            </a>

            <a th:href="|/login|" class="right item" sec:authorize="!isAuthenticated()">
                <span style="color:black"><i class="key icon"></i></span>
            </a>

            <a href="javascript: document.logoutForm.submit()" class="right item" sec:authorize="isAuthenticated()">
                    <span style="color:black"><i class="power icon"></i></span>
            </a>
        </div>

        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <button type="submit" value="Sign Out" hidden="hidden"></button>
        </form>
    </div>
</div>

<div class="ui centered grid main container">
    <div layout:fragment="content" class="sixteen wide column"></div>
</div>
</body>
</html>