<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/main"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Tienda</title>

    <script>
        function select(id) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'shopping/add/'+id, true);
            xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            xhr.onload = function () {
                // do something to response
                console.log(this.responseText);
            };
            xhr.send('');
        }
    </script>
</head>
<body>
    <div layout:fragment="content">
        <h2>Productos</h2>
        <div class="ui link items">
            <div class="item" th:each="product : ${products}" >
                <div class="image">
                    <img src="/img/phone1.jpg">
                </div>

                <div class="content">
                    <a class="header" th:text="${product.name}" th:href="|/shopping/add/${product.id}|"></a>
                    <div class="meta">
                        <span >Descripcion</span>
                    </div>
                    <div class="description">
                        <p th:text="${product.description}"></p>
                    </div>
                    <div class="extra" th:text="${product.price}"></div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>