<!DOCTYPE html>
<html lang="cat"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/main"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Carrito de la compra</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="ui link items">
            <div class="item" th:each="product : ${shopping}" >
                <div class="image">
                    <img src="/img/phone1.jpg">
                </div>

                <div class="content">
                    <a class="header" th:text="${product.product.name}"></a>
                    <div class="meta">
                        <span >Cantidad</span>
                    </div>
                    <div class="description">
                        <p th:text="${product.cuantity}"></p>
                    </div>
                    <div class="extra" th:text="${product.product.price * product.cuantity}"></div>
                </div>
            </div>
        </div>
        <h4 th:text="'Precio total: ' + ${total} + '€'">Precio total: </h4>
    </div>
</body>
</html>